@charset "UTF-8";

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Ownglyph_meetme-Rg';
}

body {
    display: flex;
    margin-top: 50px;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

table {
    width: 400px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

input {
    height: 30px;
    width: 120px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 25px;
}

button {
    font-size: 30px;
    border-radius: 10px;
    background-color: #cff1fc;
}

span {
    font-size: 30px;
}

.out {
    border: 2px solid black;
    font-size: 30px;
    border-radius: 10px;
    background-color: #faedfa;
}

a {
    text-decoration: none;
    color: black;
}